<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    
    <bean id="userAccountServiceBean" class="com.ninegame.hot.iservice.impl.UserAccountServiceBean"></bean>
    <bean id="projectServiceBean" class="com.ninegame.hot.iservice.impl.ProjectServiceBean"></bean>
    <bean id="updateApplyServiceBean" class="com.ninegame.hot.iservice.impl.UpdateApplyServiceBean"></bean>
</beans>  